* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
}

h1, form {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    border: 1px solid grey;
    padding: 0.5em 1em;
}

form button {
    background-color: lightgrey;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
}

form input {
    font-size: 1em;
}

.channel-link {
    display:block;
}

.js-search-title, .js-search-results, .js-navigation {
    margin: 20px;
}

/* .js-search-results {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* image at 320 x 180px */

/* .search-result {
    flex: 1 1 320px;
    margin: 10px;
}  */